*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main2{
    width: 100%;
    background: url(bluebg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#main2 h1{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman';
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}
#main2 #nav2{
    overflow:hidden;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.8)50% , rgba(0, 0, 0, 0.8)50%);
}
#nav2 a{
    float:left;
    text-align: center;
    color:white;
    padding:12px 17px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}
#nav2 a:hover{
    background:rgba(2, 159, 250, 0.897);
    opacity: 0.7;
    border-radius: 40px;
    color: black;
    transition: .4s ease;
}
#firstpara #but{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Courier New';
    color: black;
    padding: 12px 12px 12px 12px;
    background: rgba(2, 159, 250, 0.897);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
#secondpara{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-inline-start: 10px;
    color: white;
    border: 3px solid rgba(2, 159, 250, 0.897);
    border-radius: 10px;
    font-family: 'Courier New';
    background-color: black ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

    


